* CABEÇALHO */

a {
    color: var(--branco);
    text-decoration: none;
     /* tira o sublinhado do link */
}

.cabecalho {
    background-color: var(--azul-escuro);

    display: flex;
    /* flex-direction: row; */

    /* alinha no sentido do flex */
    justify-content: space-between;

    /* alinha no sentido contrário do flex */
    align-items: center;

    padding: 0 120px;

    height: 10vh; /* 10% da visualização vertical do dispositivo */
}

.navegacao {
    display: flex;
    align-items: center;

    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;
    font-size: 1em; /* equivale a 16px */  
    font-weight: 500;
    text-decoration: none;
    color: var(--branco);
}

/* Conteúdo principal */

/* Primeiro banner */
.banner-principal {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;

    /* overflow: hidden;  evita que os elementos transbordem */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;
}

.texto-banner {
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 60%;
}

.botao {
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    color: var(--branco);
}

.botao-hover
{
    color: #2ab2ab;
    color: var(--branco);
}

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}

 /*Titulo das seções*/

 .titulo-secao
 {
    display: flex;
    flex-direction: column;
    align-items: center
 }

 .titulo-secao h2
 {
    font-size: 1.5em;
    margin-bottom: 20px;
 }

 .titulo-secao span
 {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
 }

 /*Seção beneficios*/

 #quem-somos
 {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: space-between;

    gap: 100px;

 }

 .beneficios-lista
 {
    display: grid;
    grid-template-columns: repeat(3, 20%);

    gap: 10%;

    justify-content: center;
    
 }

 .beneficio
{
    display: flex ;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px; /*em cima -> dirieta e esquerda -> embaixo*/

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25); /*x -> y blur(desfoque) -> cor com transparencia*/

    text-align: center;

    /*Cria refenrincia de posicionamento para o icone. quando o icone for posicionado, usa esse card como referencia*/
    /*sem isso, o circulo poderia usar outro elemento da pagina como refrenrencia e sair passesando pelo layout*/

    position: relative;

}

.beneficio-icone img 
{
    width: 50%;
}

.beneficio-icone
{
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);
    border-radius: 50%;
    width: 30%;
    height: 30%;
    /*Retira o icone do fluxo normal, como o absolute ele pode ficar por cima card*/
    
    position: absolute;
    /*Move o elemento para cima, valor negativo faz ele sair praticamente do card*/
    top: -15%;
    /*coloca o começo elemento em 50% da largura do card*/
    left: 50%;
    /*ajustamos o posicionamento do elemento, mas a borda esquerda do circulo fica no centro, não o circulo inteiro*/
    transform: translateX(-50%);

    display: grid;
    /*place-items: center, é a mesma coisa que colocar: align-items; e justify-items: center;*/
    place-items: center;
}

.beneficio h3
{
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90;

}

.beneficio p
{
    font-size: 1em;
    width: 80%;
}

/*Banner meio*/

.banner-meio
{
    height: 60vh;

    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;

    display: flex;
    justify-content: flex-end;

    padding: 0 120px;
    color: var(--branco);
}

.livros{
   
    display: flex ;
    flex-direction: column;
    
    align-items: center;
    text-align: center;
    gap: 10px;
}

.livros-lista {
    display: flex;
    grid-template-rows: repeat(3, 20%);
    gap: 10%;
    justify-content: center;
}

 .livros-lista
 {
    display: flex;
    flex-direction: row;
    align-items: center
 }

 .livros-lista h2
 {
    font-size: 1.5em;
    margin-bottom: 20px;
 }

 .livros-lista span
 {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
 }

 .livros h3
 {
    align-items: center;

 }

.rodape
{
    background-color: var(--azul-escuro);
    padding: 50px 150px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.rodape p
{
color: var(--branco);
}

.rodape span
{
    background-color: var(--branco);
    width: 100%;
    height: 2px;
}

.topo
{
    display: flex;
    justify-content: space-between;

}

.logos
{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}
.links
{
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap:50px 200px;

}

.links h4
{
    color: var(--cor-destaque);
    margin-bottom: 20px;
}

.info-links
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-img
{
    display: flex;
    justify-content: space-between;

}
.baixo, .baixo-info
{
    display: flex;
    justify-content: space-between;
    gap: 40px;

}