@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --azul-escuro: #26333D;
    --texto: #26333D;
    --branco: #FFFFFF;
    --cor-destaque: #2FD6CB;
    --textos-paginas: #535353;
}
html
{
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--branco);
    color: var(--texto);
}

a {
    color: var(--branco);
    text-decoration: none;
     /* tira o sublinhado do link */
}

.cabecalho {
    background-color: var(--azul-escuro);

    display: flex;
    /* flex-direction: row; */

    /* alinha no sentido do flex */
    justify-content: space-between;

    /* alinha no sentido contrário do flex */
    align-items: center;

    padding: 0 120px;

    height: 10vh; /* 10% da visualização vertical do dispositivo */
}

.navegacao {
    display: flex;
    align-items: center;

    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;
    font-size: 1em; /* equivale a 16px */  
    font-weight: 500;
    text-decoration: none;
    color: var(--branco);
}